.basket {
    font-size: 27px;
}
.close_window {
    font-size: 28px;
    width: 50px;
}
/*TODO*/
.native_html {
    color: #1CA1C1;
    border: none;
    border-bottom: 1px solid #1CA1C1;
    width: 171px !important;
    height: 25px !important;
}

.webix_template .close_icon {
    font-size: 23px;
    border-width: 0;
}

.webix_template .close_icon:hover {
    color: #1CA1C1;
}

.information_about_phone {
    display: flex;
    justify-content: space-between;
}

.phone_information {
    display: flex;
    flex-direction: column;
}

/* .webix_view.close_window {
    border-width: 0 !important;
} */
.close_window_icon{
    border-width: 0 !important;
}

.mdi-star-half:hover {
   color: orange;
}

.close_window_icon:hover {
    color: #1CA1C1;
}